<div class="d-flex align-items-end mb-3">
  <h3 class="mb-0">Series</h3>
  <div class="ml-auto">
    <button [routerLink]="['create']" type="button" class="btn btn-primary">Add Series</button>
  </div>
</div>
<input class="form-control mb-3" id="filter-series" type="text" placeholder="Search.." #filterSeries (keyup)="0">
<table class="table table-hover table-sm">
  <caption>All Series</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let series of series$ | async | filterOnName : filterSeries.value">
      <td><a [routerLink]="[series.id]">{{series.name}}</a></td>
    </tr>
  </tbody>
</table>
