<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start"
    *ngFor="let trophy of trophies$ | async">
    <div class="d-flex align-items-center">
      <img src="{{ trophy.smallIconUrl }}" alt="Card image cap">
      <div class="ml-4">
        <p class="mb-0">{{trophy.name}}</p>
        <p class="mb-0">{{trophy.detail}}</p>
      </div>
      <p class="ml-auto mb-0" *ngIf="trophy.earned">{{trophy.earnedDate | date: 'short'}}</p>
    </div>
  </div>
</div>
