<form [formGroup]="goalsForm" (ngSubmit)="saveGoals()">
  <button type="button" class="btn btn-primary col-1 mb-3 mr-2" (click)="addGoal()">Add</button>
  <button type="submit" class="btn btn-primary col-1 mb-3" [disabled]="!goalsForm.valid">Save</button>
  <div formArrayName="goals">
    <div class="form-inline mb-3" *ngFor="let goal of goals.controls; let i = index">
      <input type="text" class="form-control col-8 mr-sm-2" placeholder="Name" [formControlName]="i" required>
      <button type="button" class="btn btn-primary" (click)="removeGoal(i)">Remove</button>
    </div>
  </div>
</form>
