<div class="d-flex flex-wrap">
  <a [routerLink]="[game.id]" class="custom-card" *ngFor="let game of games$ | async">
    <div class="card m-4" style="width: 18rem;">
      <img class="card-img-top" src="{{ game.trophyCollection.iconUrl }}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{ game.name }}</p>
      </div>
      <div class="progress">
        <div class="progress-bar bg-{{progressColor(game)}}" [style.width.%]="progress(game)" role="progressbar"
          aria-valuenow="{{progress(game)}}" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
  </a>
</div>
