<div class="mb-3 float-right">
  <button [routerLink]="['create']" type="button" class="btn btn-primary">Add Game</button>
</div>
<table class="table table-striped">
  <caption>All Games</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">System</th>
      <th scope="col">Developer</th>
      <th scope="col">Publisher</th>
      <th scope="col" style="text-align: center;">Completionist</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games$ | async">
      <td [class.text-primary]="complete(game)"><a [routerLink]="[game.id]">{{game.name}}</a></td>
      <td>{{game.releaseDate}}</td>
      <td>{{game.system}}</td>
      <td>{{game.developers.join(', ')}}</td>
      <td>{{game.publishers.join(', ')}}</td>
      <td *ngIf=" game.goals && game.goals.length> 0; else noGoals" [routerLink]="[game.id, 'goals']"
        style="text-align: center;">
        <p class="mb-0" [class.complete]="goal.completed" *ngFor="let goal of game.goals">{{goal.name}} -
          {{goal.earned}}/{{goal.total}}</p>
      </td>
      <ng-template #noGoals>
        <td style="text-align: center;">
          <a [routerLink]="[game.id, 'goals']">Add Goals</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
