<div class="d-flex align-items-end mb-3">
  <h3 class="mb-0">Games</h3>
  <div class="ml-auto">
    <button [routerLink]="['create']" type="button" class="btn btn-primary">Add Game</button>
  </div>
</div>
<input class="form-control mb-3" id="filter-games" type="text" placeholder="Search.." #filterGames (keyup)="0">
<table class="table table-hover table-sm">
  <caption>All Games</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" style="text-align: center;">Release Date</th>
      <th scope="col">System</th>
      <th scope="col">Developer</th>
      <th scope="col">Publisher</th>
      <th scope="col" style="text-align: center;">Completionist</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games$ | async | filterOnName : filterGames.value">
      <td><a [class]="getNameClass(game)" [routerLink]="[game.id]">{{game.name}}</a></td>
      <td style="text-align: center">{{game.releaseDate | date:'MM/dd/yyyy'}}</td>
      <td>{{game.system}}</td>
      <td>{{game.developers.join(', ')}}</td>
      <td>{{game.publishers.join(', ')}}</td>
      <td *ngIf="game.archived; else notArchived"></td>
      <ng-template #notArchived>
        <td *ngIf="game.goals && game.goals.length> 0; else noGoals" [routerLink]="[game.id, 'goals']"
          style="text-align: center">
          <p class="mb-0" [class.complete]="goal.completed" *ngFor="let goal of game.goals">
            {{goal.name}} -
            {{goal.earned}}/{{goal.total}}</p>
        </td>
      </ng-template>
      <ng-template #noGoals>
        <td style="text-align: center;">
          <a [routerLink]="[game.id, 'goals']">Add Goals</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
